.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .card-body {
    background-color: beige;
    font-weight: bolder;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }